.card{
    width: 20%;
    font-size: 19px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    background-color: #917FB3;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img{
    width: 80%;
    border-radius: 160px;
}

.link{
    text-decoration: none;
    color: black;
}

.head_card{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}