.Card{
    width: 20%;
    font-size: 16px;
    padding: 8px;
    margin: 14px;
    border-radius: 4px;
    background-color: rgb(232, 201, 162);
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
}

.img{
    width: 100%;
    border-radius: 40px;
}
